/**************************************
Global Elements
**************************************/

body {
  background-color: #e4dbd1;
}

a {
  text-decoration: none;
}

/**************************************
Header
**************************************/

header {
  color: #354458;
  background-color: #eb7260;
  font-family: 'Architects Daughter', cursive;
  font-size: 25pt;
  overflow: hidden;
  padding: .75em;
  text-align: center;
}

.add-app {
  position: absolute;
  right: 1em;
  top: .75em;
}

/**************************************
Appt Info
**************************************/

.new-appt {
  display: block;
  max-width: 17em;
  margin: auto;
  padding: 3em;
}

.new-appt button {
  width: 7em;
  height: 2em;
  display: block;
}

label, input {
  display: block;
  height: 3em;
  width: 24em;
  text-align: center;
}

label {
  margin-bottom: 20px;
  font-family: 'Architects Daughter', cursive;
  font-size: 19pt;
  text-align: center;
}
