/**************************************
Global Elements
**************************************/

body {
  background-color: pink;
}

a {
  text-decoration: none;
}

/**************************************
Header
**************************************/

header {
  color: #EEE;
  background-color: seagreen;
  overflow: hidden;
  padding: 1em;
}

.add-app {
  position: absolute;
  right: 1em;
  top: 1em;
}

/**************************************
Appt Info
**************************************/

.newappointment {
  display: block;
  width: 25em;
  margin: auto;
  padding-top: 3em;
}

.newappointment button {
  width: 7em;
  height: 2em;
  display: block;
}

label, input {
  display: block;
  height: 3em;
  width: 24em;
}

label {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
